<nav class="navbar navbar-expand-md navbar-light" style="background-color: #FF80AB;">
<div class="container">
    <a href="/" class="navbar-brand">Food App</a>
    <ul class="navbar-nav me-auto">
        <li *ngIf="isAuthenticated" class="nav-item">
            <a href="" class="nav-link active">Home</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
            <a href="" class="nav-link">Foods</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
            <a routerLink="/foods" class="nav-link">Foods Details</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
            <a routerLink="/foods/create" class="nav-link">Create Food</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li *ngIf="!isAuthenticated"  class="nav-item">
            <a routerLink="/auth" class="nav-link">Login</a>
        </li>
        <li *ngIf="isAuthenticated" class="nav-item">
            <a (click)="onLogout()" class="nav-link">Logout</a>
        </li>
    </ul>
</div>
</nav>


<!-- routerLink="/logout" -->